
<div id="background">
	<header class="cf">
		
	</header>

	<div class="wrapper_skinny">
		<h1> Discover Your Favorite<br> Podcast, or create your own. </h1>
		<%= link_to "Create a PodCast", new_podcast_registration_path, class: "button button_highlight" %>
		<%= link_to "Explore", podcasts_path,  class: "button button_white" %>
	</div>
</div>			
